body {
    background: url(https://media.istockphoto.com/id/1469754711/vector/trivia-time-neon-sign-geometric-frame-decoration-quiz-show-label-on-brick-wall-vector-stock.jpg?s=1024x1024&w=is&k=20&c=Gvbi7fpJMGjCl4JZf0xl-8nlWRc-w1k3moOgaoUsm3g=);
}

.quiz-div{
    background-color: green;
    padding: 20px;
    border: 1px solid black;
    text-align: center;

}
button {

    background-color: transparent;
    text-decoration: none;
}
header{
    background-color: yellow;
    padding: 0px;
    

}
#menu {
    padding: 0px;
}
.menu-container { 
list-style: none;
padding: 10px;
}
.menu-container li {
    text-align: right;
    padding: 10px;
    display: inline;
    
}
.span{
    font-style: italic;
    font-size: 20px;
    color: purple;
}
h2{
    color: beige;
}
p{
    color: yellow;
}


    
